<table mat-table [dataSource]="listProfiles" class="table">

    <!-- Nombre Atributo -->
    <ng-container matColumnDef="Age">
      <th mat-header-cell *matHeaderCellDef> Age </th>
      <td mat-cell *matCellDef="let propiedad"> {{ propiedad.Age }} </td>
    </ng-container>
  
    <!-- UPA -->
    <ng-container matColumnDef="Height">
      <th mat-header-cell *matHeaderCellDef> Height </th>
      <td mat-cell *matCellDef="let propiedad"> {{ propiedad.Height }} </td>
    </ng-container>
  
    <!-- Valor -->
    <ng-container matColumnDef="Weight">
      <th mat-header-cell *matHeaderCellDef> Weight </th>
      <td mat-cell *matCellDef="let propiedad"> {{ propiedad.Weight }} </td>
    </ng-container>
  
    <!-- Tipo de Medida -->
    <ng-container matColumnDef="Gender">
      <th mat-header-cell *matHeaderCellDef> Gender </th>
      <td mat-cell *matCellDef="let propiedad"> {{ propiedad.Gender }} </td>
    </ng-container>
  
    <!-- Medio de Producción -->
    <ng-container matColumnDef="UserId">
      <th mat-header-cell *matHeaderCellDef> UserId </th>
      <td mat-cell *matCellDef="let propiedad"> {{ propiedad.UserId }} </td>
    </ng-container>
  
    <!-- Acciones -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let propiedad">
        <button mat-button color="primary" (click)="editarElemento(propiedad)">Editar</button>
        <button mat-button color="warn" (click)="eliminarElemento(propiedad)">Eliminar</button>
      </td>
    </ng-container>
  
    <!-- Encabezado -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  
    <!-- Filas -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
  </table>